@charset "UTF-8";
a{
	color: rgb(27, 28, 29);
}
.container{
	width: 98%;
	/* margin: 2% 20%; */
	margin: 10px 30px;
	font-size: 20px;
}
.header{
	align-items: center;
	display:flex;
	padding: 10px 30px; 
}
.classCount{
	display:flex;
	align-items: center;
}
.classCount span{
	padding-left: 10px; 
}

.class_select{
	position: absolute;
	right:25%;
}
.table_replied{
	width: 90%;
}
tr{
	text-align: center;
}
th, td{
	border: 1px solid #dedede;
}
.replied_body a{
	text-align:left;
	align-items: center;
	display: flex;
	text-decoration: none;
}
.replied_body a h4{
	margin: 2px;
	padding: 5px 20px;
}
.replied_body a p{
	margin: 2px;
	padding: 5px 5px;
}
select {
	width: 200px; /* 원하는 너비설정 */
    padding: .8em .5em; /* 여백으로 높이 설정 */
    font-family: Jua;
    font-size: 16px;
    background: url('../img/svgtopng/svg3.png') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #999;
    border-radius: 2px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}